<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.ilpanda.arch">

    <application>
        <activity
            android:name="cn.ilpanda.arch.debug.ui.PhoneInfoActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait" />
    </application>

</manifest>